In [43]:
#import dependencies 
import pandas as pd

In [44]:
#create dataframe 
beers_df = pd.read_csv('beer_cleaned.csv')

In [45]:
#review styles 
beers_df['style'].nunique()
unique_styles = beers_df['style'].unique()
unique_styles[0:10]

90

array(['American Pale Ale (APA)', 'American Barleywine', 'Winter Warmer',
       'Fruit / Vegetable Beer', 'American IPA', 'English Strong Ale',
       'American Double / Imperial IPA', 'American Black Ale',
       'Belgian Dark Ale', 'Berliner Weissbier'], dtype=object)

In [46]:
style_df = beers_df[['style']].copy()

In [56]:
#convert series/frame
style_counts_df = style_df.value_counts().to_frame().reset_index().copy()

In [58]:
#rename columns 
style_counts_df.rename({0:'counts'},axis=1,inplace=True)

### Review observation thresholds

In [59]:
style_counts_df

                             style  counts
0                     American IPA     288
1          American Pale Ale (APA)     142
2         American Amber / Red Ale      76
3   American Double / Imperial IPA      72
4              American Blonde Ale      58
..                             ...     ...
85         Belgian Strong Dark Ale       1
86                      Roggenbier       1
87                Quadrupel (Quad)       1
88              Flanders Oud Bruin       1
89                 Euro Pale Lager       1

[90 rows x 2 columns]

In [63]:
style_counts_df[style_counts_df['counts'] > 30]

                            style  counts
0                    American IPA     288
1         American Pale Ale (APA)     142
2        American Amber / Red Ale      76
3  American Double / Imperial IPA      72
4             American Blonde Ale      58
5         American Pale Wheat Ale      45
6              American Brown Ale      37
7                 American Porter      37

In [74]:
style_counts_df[style_counts_df['counts'] > 26]

                            style  counts
0                    American IPA     288
1         American Pale Ale (APA)     142
2        American Amber / Red Ale      76
3  American Double / Imperial IPA      72
4             American Blonde Ale      58
5         American Pale Wheat Ale      45
6              American Brown Ale      37
7                 American Porter      37
8                          KÃ¶lsch      27
9          Fruit / Vegetable Beer      27