In [1]:
#import dependecies 
import pandas as pd

In [2]:
# assign link to beer and brewery data
beer_url_data = 'https://raw.githubusercontent.com/niklasax/Final_Project/main/CSV_Files/beers.csv'
brewery_data_url = 'https://raw.githubusercontent.com/niklasax/Final_Project/main/CSV_Files/breweries.csv'

# read in data into dataframes 
beers_df = pd.read_csv(beer_url_data)
brewerys_df = pd.read_csv(brewery_data_url)

#review dataframe structures 
beers_df.head()
brewerys_df.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

   Unnamed: 0                       name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [3]:
#drop column 
beers_df.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
beers_df.head()

,abv,ibu,id,name,style,brewery_id,ounces
0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [6]:
#renme column meant to be the id 
brewerys_df.columns[0]
brewerys_df.rename({'Unnamed: 0':'brewery_id'},axis=1, inplace=True)
brewerys_df.head()

'Unnamed: 0'

   brewery_id                       name           city state
0           0         NorthGate Brewing     Minneapolis    MN
1           1  Against the Grain Brewery     Louisville    KY
2           2   Jack's Abby Craft Lagers     Framingham    MA
3           3  Mike Hess Brewing Company      San Diego    CA
4           4    Fort Point Beer Company  San Francisco    CA

In [8]:
#check for null values 
beers_df.isnull().sum()
brewerys_df.isnull().sum()

abv             62
ibu           1005
id               0
name             0
style            5
brewery_id       0
ounces           0
dtype: int64

brewery_id    0
name          0
city          0
state         0
dtype: int64

In [17]:
#dynamically review drop cases 
beers_df[(beers_df['abv'].isnull()) & (beers_df['ibu'].isnull())]

,abv,ibu,id,name,style,brewery_id,ounces,brewery_id_brewery,name_brewery,city,state
294,NaN,NaN,1541,Double Play Pilsner,American Pilsner,380,12.0,380,Blue Blood Brewing Company,Lincoln,NE
299,NaN,NaN,1025,N Street Drive-In 50th Anniversary IPA,American Double / Imperial IPA,380,12.0,380,Blue Blood Brewing Company,Lincoln,NE
315,NaN,NaN,2490,Professor Black,American Stout,77,12.0,77,Blue Owl Brewing,Austin,TX
316,NaN,NaN,2489,Little Boss,American Pale Wheat Ale,77,12.0,77,Blue Owl Brewing,Austin,TX
317,NaN,NaN,2488,Van Dayum!,American Amber / Red Ale,77,12.0,77,Blue Owl Brewing,Austin,TX
...,...,...,...,...,...,...,...,...,...,...,...
2186,NaN,NaN,121,Cornstalker Dark Wheat,American Dark Wheat Ale,282,12.0,282,Thunderhead Brewing Company,Kearney,NE
2337,NaN,NaN,652,West Sixth IPA,American IPA,100,12.0,100,West Sixth Brewing,Lexington,KY
2345,NaN,NaN,2364,Royal Lager,American Pale Lager,132,16.0,132,Weston Brewing Company,Weston,MO
2347,NaN,NaN,2344,O’Malley’s Stout,English Stout,132,12.0,132,Weston Brewing Company,Weston,MO
2349,NaN,NaN,2342,O’Malley’s Irish Style Cream Ale,Cream Ale,132,12.0,132,Weston Brewing Company,Weston,MO

In [10]:
#create drop list   
drop_list_1 = beers_df[beers_df.ibu.isnull()].index.to_list()
len(drop_list_1)

1005

In [11]:
#drop missing values and review 
beers_df.drop(drop_list_1,axis=0, inplace=True)
beers_df.isnull().sum()

abv           0
ibu           0
id            0
name          0
style         2
brewery_id    0
ounces        0
dtype: int64

In [12]:
# create drop list 
drop_list_2 = beers_df[beers_df['style'].isnull()].index
len(drop_list_2)

2

In [13]:
#drop missing values and review 

beers_df.drop(drop_list_2,axis=0,inplace=True)
beers_df.isnull().sum()

abv           0
ibu           0
id            0
name          0
style         0
brewery_id    0
ounces        0
dtype: int64

In [14]:
#review 
beers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1403 entries, 14 to 2408
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   abv         1403 non-null   float64
 1   ibu         1403 non-null   float64
 2   id          1403 non-null   int64
 3   name        1403 non-null   object
 4   style       1403 non-null   object
 5   brewery_id  1403 non-null   int64
 6   ounces      1403 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 87.7+ KB

In [15]:
# review style column 
beers_df['style'].nunique()
beers_df['style'].unique()

90

array(['American Pale Ale (APA)', 'American Barleywine', 'Winter Warmer',
       'Fruit / Vegetable Beer', 'American IPA', 'English Strong Ale',
       'American Double / Imperial IPA', 'American Black Ale',
       'Belgian Dark Ale', 'Berliner Weissbier', 'American Blonde Ale',
       'American Pale Wheat Ale', 'Kölsch', 'English Pale Ale',
       'American Amber / Red Lager', 'American Brown Ale',
       'English Barleywine', 'Milk / Sweet Stout', 'German Pilsener',
       'Pumpkin Ale', 'Belgian Pale Ale', 'American Pilsner',
       'Saison / Farmhouse Ale', 'English Brown Ale', 'American Stout',
       'Altbier', 'Oatmeal Stout', 'Cream Ale',
       'American Amber / Red Ale', 'Vienna Lager', 'American Porter',
       'American Double / Imperial Stout', 'Gose', 'Munich Helles Lager',
       'Witbier', 'Märzen / Oktoberfest', 'Tripel', 'Rye Beer',
       'American Pale Lager', 'Euro Dark Lager',
       'California Common / Steam Beer', 'Schwarzbier', 'Hefeweizen',
       'Other', 'English India Pale Ale (IPA)',
       'Extra Special / Strong Bitter (ESB)', 'American Strong Ale',
       'Czech Pilsener', 'Foreign / Export Stout', 'Euro Pale Lager',
       'American White IPA', 'Irish Dry Stout', 'Scotch Ale / Wee Heavy',
       'Radler', 'Irish Red Ale', 'Herbed / Spiced Beer',
       'American Adjunct Lager', 'Scottish Ale', 'Smoked Beer', 'Bock',
       'Belgian Strong Pale Ale', 'English Pale Mild Ale',
       'Abbey Single Ale', 'Belgian IPA', 'Roggenbier',
       'Dortmunder / Export Lager', 'American Dark Wheat Ale',
       'English Stout', 'English Dark Mild Ale', 'Russian Imperial Stout',
       'Keller Bier / Zwickel Bier', 'American India Pale Lager',
       'Doppelbock', 'Munich Dunkel Lager', 'Maibock / Helles Bock',
       'Wheat Ale', 'Light Lager', 'Dunkelweizen', 'Baltic Porter',
       'English Bitter', 'Belgian Strong Dark Ale', 'Dubbel',
       'Chile Beer', 'Grisette', 'Bière de Garde', 'Old Ale',
       'Flanders Oud Bruin', 'Quadrupel (Quad)', 'American Wild Ale',
       'American Double / Imperial Pilsner'], dtype=object)

In [17]:
#review columns 
beers_df.head(2)
brewerys_df.head(2)

,abv,ibu,id,name,style,brewery_id,ounces
14,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),177,12.0
21,0.099,92.0,1036,Lower De Boom,American Barleywine,368,8.4

   brewery_id                       name         city state
0           0         NorthGate Brewing   Minneapolis    MN
1           1  Against the Grain Brewery   Louisville    KY

In [18]:
#rename columns 
beers_df.rename({'id':'beer_id',
                       'name':'beer_name'},
                        axis=1, inplace=True)

brewerys_df.rename({'name':'brewery_name'},
                      axis=1, inplace=True)

beers_df.head(2)
brewerys_df.head(2)

,abv,ibu,beer_id,beer_name,style,brewery_id,ounces
14,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),177,12.0
21,0.099,92.0,1036,Lower De Boom,American Barleywine,368,8.4

   brewery_id               brewery_name         city state
0           0         NorthGate Brewing   Minneapolis    MN
1           1  Against the Grain Brewery   Louisville    KY

In [20]:
#check for duplicates 
beers_df.duplicated(subset='beer_name').sum()

77

In [21]:
# review duplicates 
duplicates = beers_df[beers_df.duplicated(subset='beer_name')]
duplicates.head()

duplicate_check = duplicates['beer_name'].iloc[1]
duplicate_check

,abv,ibu,beer_id,beer_name,style,brewery_id,ounces
26,0.049,17.0,801,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,368,12.0
69,0.080,68.0,2686,Citra Ass Down,American Double / Imperial IPA,1,16.0
81,0.050,20.0,2674,The Brown Note,English Brown Ale,1,16.0
109,0.057,13.0,1221,Barney Flats Oatmeal Stout,Oatmeal Stout,171,12.0
304,0.056,37.0,886,1327 Pod's ESB,Extra Special / Strong Bitter (ESB),380,12.0

'Citra Ass Down'

In [22]:
#double checking for duplicates 
beers_df[beers_df['beer_name'] == duplicate_check]

,abv,ibu,beer_id,beer_name,style,brewery_id,ounces
67,0.082,68.0,2540,Citra Ass Down,American IPA,62,16.0
69,0.080,68.0,2686,Citra Ass Down,American Double / Imperial IPA,1,16.0

In [23]:
#drop duplicates 
beers_df.drop_duplicates(subset='beer_name',keep='first',inplace=True)

In [24]:
beers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1326 entries, 14 to 2408
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   abv         1326 non-null   float64
 1   ibu         1326 non-null   float64
 2   beer_id     1326 non-null   int64
 3   beer_name   1326 non-null   object
 4   style       1326 non-null   object
 5   brewery_id  1326 non-null   int64
 6   ounces      1326 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 82.9+ KB

In [38]:
#save cleaned and transformed data 
beers_df.to_csv('C:/Users/Donne/OneDrive/UT_Data_Analytics/Analysis Projects/Mod20 The End of The beginnig/beer_cleaned.csv',index=False)
brewerys_df.to_csv('C:/Users/Donne/OneDrive/UT_Data_Analytics/Analysis Projects/Mod20 The End of The beginnig/brewery_cleaned.csv', index=False)