In [1]:
import pandas as pd

In [5]:
beer_df = pd.read_csv("beer_cleaned.csv")
brewery_df = pd.read_csv("brewery_cleaned.csv") 
beer_df

,abv,ibu,beer_id,beer_name,style,style_group,ounces,brewery_id
0,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),American Pale Ale (APA),12.0,177
1,0.099,92.0,1036,Lower De Boom,American Barleywine,other,8.4,368
2,0.079,45.0,1024,Fireside Chat,Winter Warmer,other,12.0,368
3,0.044,42.0,876,Bitter American,American Pale Ale (APA),American Pale Ale (APA),12.0,368
4,0.049,17.0,802,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,Fruit / Vegetable Beer,12.0,368
...,...,...,...,...,...,...,...,...
1321,0.077,30.0,1513,Lights Out Vanilla Cream Extra Stout,American Double / Imperial IPA,American Double / Imperial IPA,12.0,199
1322,0.069,69.0,1512,Worthy IPA (2013),American IPA,American IPA,12.0,199
1323,0.060,50.0,1511,Worthy Pale,American Pale Ale (APA),American Pale Ale (APA),12.0,199
1324,0.067,45.0,928,Belgorado,Belgian IPA,other,12.0,424
1325,0.055,40.0,145,Silverback Pale Ale,American Pale Ale (APA),American Pale Ale (APA),12.0,424

In [6]:
brewery_df

     brewery_id                   brewery_name           city state
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

In [9]:
beer_df.count()

abv            1326
ibu            1326
beer_id        1326
beer_name      1326
style          1326
style_group    1326
ounces         1326
brewery_id     1326
dtype: int64

In [13]:
cleaned_merged = beer_df.merge(brewery_df, left_on=beer_df['brewery_id'], right_on=brewery_df['brewery_id'])
cleaned_merged.count()

key_0           1326
abv             1326
ibu             1326
beer_id         1326
beer_name       1326
style           1326
style_group     1326
ounces          1326
brewery_id_x    1326
brewery_id_y    1326
brewery_name    1326
city            1326
state           1326
dtype: int64

In [15]:
cleaned_merged.to_csv('merged_df.csv')

In [16]:
cleaned_merged

,key_0,abv,ibu,beer_id,beer_name,style,style_group,ounces,brewery_id_x,brewery_id_y,brewery_name,city,state
0,177,0.061,60.0,1979,Bitter Bitch,American Pale Ale (APA),American Pale Ale (APA),12.0,177,177,18th Street Brewery,Gary,IN
1,368,0.099,92.0,1036,Lower De Boom,American Barleywine,other,8.4,368,368,21st Amendment Brewery,San Francisco,CA
2,368,0.079,45.0,1024,Fireside Chat,Winter Warmer,other,12.0,368,368,21st Amendment Brewery,San Francisco,CA
3,368,0.044,42.0,876,Bitter American,American Pale Ale (APA),American Pale Ale (APA),12.0,368,368,21st Amendment Brewery,San Francisco,CA
4,368,0.049,17.0,802,Hell or High Watermelon Wheat (2009),Fruit / Vegetable Beer,Fruit / Vegetable Beer,12.0,368,368,21st Amendment Brewery,San Francisco,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,199,0.077,30.0,1513,Lights Out Vanilla Cream Extra Stout,American Double / Imperial IPA,American Double / Imperial IPA,12.0,199,199,Worthy Brewing Company,Bend,OR
1322,199,0.069,69.0,1512,Worthy IPA (2013),American IPA,American IPA,12.0,199,199,Worthy Brewing Company,Bend,OR
1323,199,0.060,50.0,1511,Worthy Pale,American Pale Ale (APA),American Pale Ale (APA),12.0,199,199,Worthy Brewing Company,Bend,OR
1324,424,0.067,45.0,928,Belgorado,Belgian IPA,other,12.0,424,424,Wynkoop Brewing Company,Denver,CO
1325,424,0.055,40.0,145,Silverback Pale Ale,American Pale Ale (APA),American Pale Ale (APA),12.0,424,424,Wynkoop Brewing Company,Denver,CO