In [1]:
#import dependencies 
import pandas as pd

In [2]:
#create dataframe 
beers_df = pd.read_csv('beer_cleaned.csv')

In [3]:
#review styles 
beers_df['style'].nunique()
unique_styles = beers_df['style'].unique()
unique_styles[0:10]

90

array(['American Pale Ale (APA)', 'American Barleywine', 'Winter Warmer',
       'Fruit / Vegetable Beer', 'American IPA', 'English Strong Ale',
       'American Double / Imperial IPA', 'American Black Ale',
       'Belgian Dark Ale', 'Berliner Weissbier'], dtype=object)

In [4]:
style_df = beers_df[['style']].copy()

In [5]:
#convert series/frame
style_counts_df = style_df.value_counts().to_frame().reset_index().copy()

In [6]:
#rename columns 
style_counts_df.rename({0:'counts'},axis=1,inplace=True)

### Review observation thresholds to control groupings for machine learning

In [7]:
# style groups with 30 or more 
style_counts_df[style_counts_df['counts'] > 30]

                            style  counts
0                    American IPA     288
1         American Pale Ale (APA)     142
2        American Amber / Red Ale      76
3  American Double / Imperial IPA      72
4             American Blonde Ale      58
5         American Pale Wheat Ale      45
6              American Brown Ale      37
7                 American Porter      37

In [8]:
#style groups with 26 or more
style_counts_df[style_counts_df['counts'] > 26]

                            style  counts
0                    American IPA     288
1         American Pale Ale (APA)     142
2        American Amber / Red Ale      76
3  American Double / Imperial IPA      72
4             American Blonde Ale      58
5         American Pale Wheat Ale      45
6              American Brown Ale      37
7                 American Porter      37
8                          KÃ¶lsch      27
9          Fruit / Vegetable Beer      27

In [22]:
# Create list of style groups for mapping 
style_list = style_counts_df[style_counts_df['counts'] > 26]['style'].to_list()

In [27]:
style_df['style_group'] = style_df['style'].apply(lambda x: x if x in style_list else 'other')

In [29]:
style_df.head()

                     style              style_group
0  American Pale Ale (APA)  American Pale Ale (APA)
1      American Barleywine                    other
2            Winter Warmer                    other
3  American Pale Ale (APA)  American Pale Ale (APA)
4   Fruit / Vegetable Beer   Fruit / Vegetable Beer